.root{
    -fx-font-family: "System";
}

.intro{
    -fx-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.background{
    -fx-background-color: black;
    -fx-padding: 5px;
}

.verb{
    -fx-text-fill: white;
    -fx-padding: 0px 5px 0px 5px;
}

.error{
    -fx-fill: red;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.genText{
    -fx-fill: white;
    -fx-font-size: 14px;
}

.playerName{
    -fx-fill: yellow;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
